
@model SliderListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Slider Index";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Slider" asp-action="Index">Slider</a></li>
</ol>
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-12 table-responsive">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Slider
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover  table-sm mt-3" id="slidersTable" width="100%" cellpadding="0">
            <thead>
                <tr>
                  <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Küçük Resim</th>
                    <th>Aktif Mi?</th>
                    <th>Silinmiş Mi?</th>
                     <th>Oluşturulma Tarihi</th>
                     <th>Oluşturan Kullanıcı Adı</th>
                    <th>Son Düzenlenme Tarihi</th>
                     <th>Son Düzenleyen Kullanıcı Adı</th>
                     <th>İşlemler</th>
                </tr>
            </thead>
       
            <tbody>
                @foreach (var slider in Model.Sliders)
                {
                    <tr name="@slider.Id">
                    <td>@slider.Id</td>
                    <td>@slider.Title</td>
                    <td>@slider.Description</td>
                    <td><img src="~/img/@slider.Picture" class="my-image-table"/></td>
                    <td>@(slider.IsActive ? "Evet" : "Hayır")</td>
                    <td>@(slider.IsDeleted ? "Evet" : "Hayır")</td>
                    <td>@slider.CreateDate.ToShortDateString()</td>
                    <td>@slider.CreateByName</td>
                    <td>@slider.ModifiedDate.ToShortDateString()</td>
                    <td>@slider.ModifiedByName</td>
                     <td>
                                <a class="btn btn-primary btn-sm btn-update" data-id="@slider.Id" asp-area="Admin" asp-controller="Slider" asp-action="Update" asp-route-sliderId="@slider.Id"><span class="fas fa-edit"></span></a>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@slider.Id"><span class="fas fa-minus-circle"></span></button>
                            </td>
                    </tr>                  
                }              
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/AdminLTE/js/blog/sliderIndex.js" type="application/ecmascript"></script>
}
@section Styles
{

}