
@model GaleryListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Galeri Index";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Galery" asp-action="Index">Galeri</a></li>
</ol>
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-12">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Galeri
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover  table-sm mt-3" id="galeriesTable" width="100%" cellpadding="0">
            <thead>
                <tr>
                  <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Küçük Resim</th>
                    <th>Aktif Mi?</th>
                    <th>Silinmiş Mi?</th>
                     <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı Adı</th>
                        <th>Son Düzenlenme Tarihi</th>
                        <th>Son Düzenleyen Kullanıcı Adı</th>
                        <th>İşlemler</th>
                </tr>
            </thead>
       
            <tbody>
                @foreach (var galery in Model.Galeries)
                {
                    <tr name="@galery.Id">
                    <td>@galery.Id</td>
                    <td>@galery.Title</td>
                    <td>@galery.Description</td>
                    <td><img src="~/img/@galery.Picture" class="my-image-table"/></td>
                    <td>@(galery.IsActive ? "Evet" : "Hayır")</td>
                    <td>@(galery.IsDeleted ? "Evet" : "Hayır")</td>
                    <td>@galery.CreateDate.ToShortDateString()</td>
                    <td>@galery.CreateByName</td>
                    <td>@galery.ModifiedDate.ToShortDateString()</td>
                    <td>@galery.ModifiedByName</td>
                     <td>
                                <a class="btn btn-primary btn-sm btn-update" data-id="@galery.Id" asp-area="Admin" asp-controller="Galery" asp-action="Update" asp-route-articleId="@galery.Id"><span class="fas fa-edit"></span></a>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@galery.Id"><span class="fas fa-minus-circle"></span></button>
                            </td>
                    </tr>                  
                }              
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/AdminLTE/js/blog/galeryIndex.js" type="application/ecmascript"></script>
}
@section Styles
{

}